iframe {
	display: none;
}

#contact-container {
	width: 100%;
	margin-left: auto;
	margin-right: auto;

}

#contact-container img {
	max-width: 600px;
	width: 100%;
	height: auto;
}

#contact-item {
	position: absolute;
	margin-left: 5%;
	margin-top: 20px;
}

.contactitem {
}

#contact-item img {
	height: 35px;
	width: 35px;
	margin-right: 10px;
	margin-bottom: 15px;

}

#wechat img.qrcoder {
	height: 150px !important;
	width: 150px !important;
}

#bbm img.qrcoder {
	height: 100px !important;
	width: 100px !important;
}

#contact-item a {
	font-size: 30px;
	cursor: e-resize;
	-moz-transition: all .2s linear;
    -webkit-transition: all .2s linear;
    transition: all .2s ;
    -webkit-backface-visibility: hidden;
    -webkit-transform-style: preserve-3d;
}

#contactbackground {
	display: none;
}

#contact-item a:hover {
	opacity: .5;
}

#skype a {
	color: rgb(97,172,250);
}
#addresstablet a {
	color: #be4fe3;
}
#github a {
	color: black;
}
#phone a {
	color: rgb(128,203,129);
}
#email a {
	color: rgb(235,199,20);
}
#facebook a {
	color: rgb(105,149,228);
}
#linkedin a {
	color: rgb(217,89,89);
}
#renren a {
	color: rgb(77,134,233);
}