/* RESET */
html, body, div, ul, ol, li, dl, dt, dd, h1, h2, h3, h4, h5, h6,
pre, form, p, blockquote, fieldset, input, abbr, article, aside, command,
details, figcaption, figure, footer, header, hgroup, mark, meter, nav,
output, progress, section, summary, time {
	padding: 0;
    margin: 0;
}

h1, h2, h3, h4, h5, h6, pre, code, address, caption, cite, code, em, strong,
th, figcaption {
    font-size: 1em;
    font-style: normal;
}

fieldset, iframe {
    border: none;
}

caption, th {
    text-align: left;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

article, aside, footer, header, hgroup, nav, section, figure, figcaption {
    display: block;
}

a {
  color: #000;
  text-decoration: none;
}

a:hover, a:focus {
  color: #1D86D1;
  text-decoration: none;
  border-bottom: 0;
}

a:focus {
  outline: thin dotted;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}

img {
  vertical-align: middle;
}

.disselect {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    user-drag: none; 
    -moz-user-select: none; 
    -webkit-user-drag: none;
}

.smooth200 {
    -moz-transition: all .2s linear;
    -webkit-transition: all .2s linear;
    transition: all .2s ;
    -webkit-backface-visibility: hidden;
    -webkit-transform-style: preserve-3d;
}

.smooth1000 {
    -moz-transition: all 1s linear;
    -webkit-transition: all 1s linear;
    transition: all 1s ;
    -webkit-backface-visibility: hidden;
    -webkit-transform-style: preserve-3d;
}

.tedxred {
    background-color: #AB3D3D !important;
}

.contactgreen {
    background-color: #48C785 !important;
}