/*overwrite*/
body {
    font-family: 'Gafata', sans-serif;
}

/*Big Point*/
#index-nav {
    position: fixed;
    height: 100px;
    width: 100%;
    background-color: #3BA0E3;
    z-index: 9999;
    min-width: 700px;
    border: none;
}

#index-show {
    position: static;
    width: 100%;
    background-color: #3BA0E3;
    min-width: 750px;
    z-index: 9999;
}

#index-page {
    width: 100%;
    height: auto;    
    position: static;
    background-color: #fff;
    margin-top: 100px;
    margin-left: auto;
    margin-right: auto;
}

#index-foot {
    color: #bbb;
    font-size: 80%;
    text-align: center;
    padding: 15px 2% 15px 2%;
    z-index: 100;
}

#index-foot:hover {
    cursor: default;
}

#index-foot span {
    color: #797B91;
}


/*index nav bar*/

.index-nav-container {
    padding-left: 20px;
    color: white;
    font-size: 130%;
    float: left;
    height: 25px;
}

.index-nav-menu-item {
    color: white;
    float: left;
    padding-bottom: 36px;
    padding-top: 35px;
    width: 100px;
    text-align: center;
    border-bottom: 6px solid transparent;
}

.index-nav-menu-item:hover {
    text-decoration: none;
    color: white;
    background-color: rgba(255,255,255, 0.2);
    border-bottom: 6px solid white;
    cursor: s-resize;
}

.index-nav-menu-item.actived {
    color: white;
    background-color: rgba(255,255,255, 0.2);
    border-bottom: 6px solid rgba(255,255,255, 0);
}


#index-nav-logo {
    background-image: url("images/indexlogo.png");
    background-size: contain;
    background-repeat: no-repeat;
    width: 100px;
    height: 30px;
    margin-left: 40px;
    margin-top: 30px;
}

#index-nav-logo:hover {
    cursor: n-resize;
}

#index-nav-menu {
}


/*index show*/
#index-show:hover {
    cursor: default;
}

#index-show-content {
    width: auto;
    color: white;
    margin-left: 40px;
    font-weight: 600;
    font-family: 'Ruda', sans-serif;
}

#index-show-content note {
    opacity: .7;
    font-size: 20px;
    font-weight: 300;
}