html {
  font-family: 'Gafata', sans-serif;
}

body {
  height:100%;
  width:100%;
}

header {
  width:100%;
  height:80px;
  background-color:#3BA0E3;
  overflow:hidden;
}

.hidden {
  display:none;
}


#logo {
  background-image: url("../look/logo/logo_white.png");
  width: 150px;
  height: 50px;
  background-size: contain;
  background-repeat: no-repeat;
  float: left;
  margin: 15px;
}

#note {
  background-color: #5EB4ED;
  height: 20px;
  width: 100%;
  color: #fff;
  text-align: center;
  padding-top: 5px;
  font-size: 80%;
  cursor: default;
}


#navbar {
  width:100%;
  height:100%;
  background-color:#e6e6e6;
}

#shadow {
  background:-moz-linear-gradient(top,rgba(0,0,0,0.65) 0%,rgba(0,0,0,0) 100%);
/* FF3.6+ */
  background:-webkit-gradient(linear,left top,left bottom,color-stop(0%,rgba(0,0,0,0.65)),color-stop(100%,rgba(0,0,0,0)));
/* Chrome,Safari4+ */
  background:-webkit-linear-gradient(top,rgba(0,0,0,0.65) 0%,rgba(0,0,0,0) 100%);
/* Chrome10+,Safari5.1+ */
  background:-o-linear-gradient(top,rgba(0,0,0,0.65) 0%,rgba(0,0,0,0) 100%);
/* Opera 11.10+ */
  background:-ms-linear-gradient(top,rgba(0,0,0,0.65) 0%,rgba(0,0,0,0) 100%);
/* IE10+ */
  background:linear-gradient(to bottom,rgba(0,0,0,0.65) 0%,rgba(0,0,0,0) 100%);
/* W3C */
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#a6000000',endColorstr='#00000000',GradientType=0);
/* IE6-9 */
  width:100%;
  height:10px;
  opacity:.7;
}

.navitem {
  width:100%;
  height:65px;
  background-color:#fff;
  border-bottom: 1px solid #aaa;
}

.navitem:hover {
  background-color:#ecf6ff;
  -webkit-transition:ease .2s;
  cursor:pointer;
}

.navitem > div:first-child {
  float:left;
  position:absolute;
  background-repeat:no-repeat;
  background-size:contain;
  width: 45px;
  height: 45px;
  margin: 10px;
}

.navitem > div:nth-child(2) {
  float:right;
  overflow:hidden;
  font-size: 20px;
  margin: 20px;
}

#nav1st {
  background-image: url("../look/images/about.png");
}

#nav2nd {
  background-image: url("../look/images/portfolio.png");
}

#nav3rd {
  background-image: url("../look/images/activities.png");
}

#nav4th {
  background-image: url("../look/images/resume.png");
}

#nav5th {
  background-image: url("../look/images/contact.png");
}

#nav6th {
  background-image: url("../look/images/computer.png");
}