#resume-container-img {
	padding-top: 50px;
	width: 200px;
	margin-left: auto;
	margin-right: auto;
}

#resume-container-img img {
	width: 200px;
	height: auto;
	margin-top: -3px;
}

#resume-container {
	width: 70%;
	margin-left: auto;
	margin-right: auto;
}

#resume-container p {
	padding-top: 20px;
	color: grey;
}

#resume-container p:hover {
	cursor: default;
}

#resume-container a {
	color: orange;
	font-weight: bold;
	text-decoration: none;
}

#resume-container a:hover {
	color:red;
}